body {
    justify-content: center;
  }
  
  .table_head,
  .table {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .table td,
  .table_head th,
  table {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    border-spacing: 0px;
  }
  
  .pagination {
    margin-left: 700px;
    margin-right: 800px;
    margin-top: 50px;
    /* margin-right: auto; */
  }

  button{
      color: blueviolet;
      font-size: 13px;
      background-color: aqua;

  }
  